# ---------------------------------------------------------------- #
#  PENPOT Frontend Config
# ---------------------------------------------------------------- #

# Internal URI for the backend API service
PENPOT_BACKEND_URI=your_penpot_backend_uri

# Internal URI for the exporter service
PENPOT_EXPORTER_URI=your_penpot_exporter_uri
