**/node_modules/**
**/dist/**
**/build/**
**/.docusaurus/**
**/.turbo/**
/.github/**
**/.eslintcache/**
**/tools/agents/data/**
**/tools/agents/shared/**
**/.vscode-test/**
**/out/**
**/.dockerignore
