/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.homeMain {
  position: relative;
  min-height: auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
