# ---------------------------------------------------------------- #
#  PENPOT Exporter Config
# ---------------------------------------------------------------- #

# Internal URI used by the exporter to reach the frontend service
PENPOT_PUBLIC_URI=your_penpot_public_uri
