# Git Command Line Specific Environment Variables
# ==============================================================================

# Disable terminal prompts (prevents hangs if an authentication prompt appears)
GIT_TERMINAL_PROMPT=your_git_terminal_prompt

# Configure Git to automatically authenticate HTTPS requests to github.com using the GH_TOKEN
GIT_CONFIG_COUNT=your_git_config_count
GIT_CONFIG_KEY_0=your_git_config_key_0
GIT_CONFIG_VALUE_0=your_git_config_value_0
GIT_CONFIG_KEY_1=your_git_config_key_1
GIT_CONFIG_VALUE_1=your_git_config_value_1
