# ---------------------------------------------------------------- #
#  PENPOT Global Shared Config
# ---------------------------------------------------------------- #

# Flags shared by Backend and Frontend
PENPOT_FLAGS=disable-email-verification disable-secure-session-cookies

# Redis URI shared by Backend and Exporter
PENPOT_REDIS_URI=redis://valkey/0

# Secret Key shared by Backend and Exporter
PENPOT_SECRET_KEY=your_penpot_secret_key
